<launch>
    <!-- Define el argumento simulation_mode con un valor predeterminado de false -->
    <arg name="simulation_mode" default="false" />

    <!-- Carga los parámetros del archivo iiwa_surgery_params.yaml -->
    <rosparam file="$(find iiwa_surgery)/config/iiwa_surgery_params.yaml" command="load"/>

    <!-- Ejecutar este grupo si simulation_mode es true -->
    <group if="$(arg simulation_mode)">
        <!-- Ejecutar en modo de simulación -->

        <!-- Define el argumento hardware_interface con un valor predeterminado de PositionJointInterface -->
        <arg name="hardware_interface" default="PositionJointInterface"/> 
        <!-- Define el argumento robot_name con un valor predeterminado de iiwa -->
        <arg name="robot_name" default="iiwa"/>

        <!-- Incluye el archivo iiwa7_tool_upload.launch (comentado) -->
        <!-- <include file="$(find iiwa_tool_description)/launch/iiwa7_tool_upload.launch" /> -->
                
        <!-- Iniciar Gazebo con Sunrise para la simulación -->
        <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo_with_sunrise.launch" />

        <!-- Ejecutar el nodo iiwa_control_node.py -->
        <node name="iiwa_control_node" pkg="iiwa_surgery" type="iiwa_control_node.py" output="screen"/>
    </group>

    <!-- Ejecutar este grupo si simulation_mode es false -->
    <group unless="$(arg simulation_mode)">
        <!-- Ejecutar en modo real -->

        <!-- Ejecutar el nodo iiwa_control_node.py -->
        <node name="iiwa_control_node" pkg="iiwa_surgery" type="iiwa_control_node.py" output="screen"/>   
    </group>
</launch>
