<launch>
    <!-- Define el argumento simulation_mode con un valor predeterminado de false -->
    <arg name="simulation_mode" default="false" />

    <!-- Carga los parametros del archivo iiwa_surgery_params.yaml -->
    <rosparam file="$(find iiwa_surgery)/config/iiwa_surgery_params.yaml" command="load"/>

    <!-- Ejecutar este grupo si simulation_mode es true -->
    <group if="$(arg simulation_mode)">
        <!-- Ejecutar en modo de simulación -->
                
        <!-- Iniciar Gazebo con Sunrise para la simulacion -->
        <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo_with_sunrise_edited.launch" />

        <!-- Ejecutar el nodo iiwa_control_node -->
        <node name="iiwa_control_node" pkg="iiwa_surgery" type="iiwa_control_node.py" output="screen"/>
    </group>

    <!-- Ejecutar este grupo si simulation_mode es false -->
    <group unless="$(arg simulation_mode)">
        <!-- Ejecutar en modo real -->

        <!-- Ejecutar el nodo iiwa_control_node -->
        <node name="iiwa_control_node" pkg="iiwa_surgery" type="iiwa_control_node.py" output="screen"/>   
    </group>
</launch>
